// Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.

package rampschedules

import (
	"fmt"
	"github.com/growthbook/cli/internal/client"
	"github.com/growthbook/cli/internal/flagutil"
	"github.com/growthbook/cli/internal/interactive"
	"github.com/growthbook/cli/internal/output"
	"github.com/growthbook/cli/internal/sdk"
	"github.com/growthbook/cli/internal/sdk/models/operations"
	"github.com/growthbook/cli/internal/usage"
	"github.com/spf13/cobra"
)

var apiAdvanceRampScheduleCmdMeta = []flagutil.FlagMeta{
	{FlagName: "id", Shorthand: "i", FieldPath: "ID", Kind: flagutil.FlagKindString, Required: true, Description: "[required]"},
	{FlagName: "reason", Shorthand: "r", FieldPath: "Body.Reason", Kind: flagutil.FlagKindString, Optional: true, Description: "Reason for advancing"},
	{FlagName: "force", Shorthand: "f", FieldPath: "Body.Force", Kind: flagutil.FlagKindBool, Optional: true, Description: "Bypass a pending approval gate on the current step. Requires admin-level (`canBypassApprovalChecks`) permission. When omitted or `false`, a 409 is returned if the step has an unsatisfied `holdConditions.requiresApproval` gate."},
}

// initApiAdvanceRampScheduleCmd initializes the api-advance-ramp-schedule command.
func initApiAdvanceRampScheduleCmd(parent *cobra.Command) error {
	var cmd = &cobra.Command{
		Use:     "api-advance",
		Short:   "Advance to the next step, overriding any holds",
		Long:    "Moves the schedule to the next step, bypassing **all** hold conditions —\ninterval, min sample size, and monitoring signal holds. Accepts `running`\nor `paused` status; if paused, the schedule is implicitly resumed (timing\nanchors recalculated) before the step moves.\n\n**Approval gate**: if the current step has an unsatisfied\n`holdConditions.requiresApproval` gate, this endpoint returns **409** by\ndefault. Either call `/actions/approve-step` first (recommended), or pass\n`force: true` to override the approval gate. `force: true` requires\n`canBypassApprovalChecks` permission and is logged in the audit trail.\n\n**Two common uses:**\n- **Post-interval monitoring hold** (`decision: \"hold\"`, interval elapsed): the\n\n\n\n  step timer has completed but a signal or guardrail is flagging concern. Use\n  this after reviewing the `/status` health summary and deciding to accept the\n  risk and proceed.\n- **Hard override**: skip a step regardless of where it is in its interval or\n\n\n\n  hold conditions (CI gate, external deployment pipeline).\n\nWhen to use other actions instead:\n- **`/actions/resume`** — restores a paused schedule without moving the step.\n- **`/actions/approve-step`** — clears only the approval gate; other conditions\n\n\n\n  still resolve naturally.\n- **`/actions/rollback`** — preferred response when `decision: \"rollback\"` or\n\n\n\n  signals include `guardrail-failing`.",
		Example: "  growthbook ramp-schedules api-advance --id <id>",
		RunE:    runApiAdvanceRampScheduleCmd,
		Aliases: []string{"aa"},
	}
	flagutil.RegisterFlags(cmd, apiAdvanceRampScheduleCmdMeta)
	if err := flagutil.ValidateMeta[operations.APIAdvanceRampScheduleRequest](apiAdvanceRampScheduleCmdMeta); err != nil {
		return fmt.Errorf("invalid metadata for api-advance-ramp-schedule: %w", err)
	}
	cmd.Flags().String("body", "", "Request body as JSON (alternative to individual flags). Can also be provided via stdin.")
	parent.AddCommand(cmd)
	return nil
}

// runApiAdvanceRampScheduleCmd executes the api-advance-ramp-schedule command.
func runApiAdvanceRampScheduleCmd(cmd *cobra.Command, args []string) error {
	if usage.UsageRequested(cmd) {
		return usage.EmitSchema(cmd, cmd.OutOrStdout())
	}
	if interactive.ShouldPrompt(cmd, apiAdvanceRampScheduleCmdMeta) {
		if err := interactive.PromptAndSetFlags(cmd, apiAdvanceRampScheduleCmdMeta); err != nil {
			return err
		}
	}
	req, err := flagutil.BuildRequest[operations.APIAdvanceRampScheduleRequest](cmd, apiAdvanceRampScheduleCmdMeta, "Body", "body")
	if err != nil {
		return err
	}
	s, err := client.NewClient(cmd)
	if err != nil {
		return err
	}
	sdkOpts, err := output.PrepareCallOpts(cmd)
	if err != nil {
		return err
	}
	// Dry-run: force skip deserialization so the synthetic empty response
	// does not cause parse failures in typed response handling.
	if client.IsDryRun(cmd) {
		sdkOpts = append(sdkOpts, operations.WithSkipDeserialization())
	}
	if err := output.ValidateGlobalServerIndex(cmd, len(sdk.ServerList)); err != nil {
		return err
	}
	if output.WantsRawJSON(cmd) {
		sdkOpts = append(sdkOpts, operations.WithSkipDeserialization())
	}
	res, err := s.RampSchedules.APIAdvanceRampSchedule(cmd.Context(), *req, sdkOpts...)
	if err != nil {
		return output.Error(cmd, err)
	}

	if err := output.Result(cmd, res); err != nil {
		return err
	}
	return nil
}
